@model List<Model.ViewModel.OldOrderViewModel>
@{
    ViewBag.Title = "OldOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListOrder = (List<Model.EnityFramework.Order>)ViewBag.ListOrder;

    decimal total = 0;
    int quantity = 0;
    int id = 0;
}

@using (Html.BeginForm("OldOrder", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (Model.Count > 0)
    {
        <br />
        <br />
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @foreach (var orderItem in ListOrder)
                    {
                        id = orderItem.ID;
                        total = 0;
                        quantity = 0;
                        if (orderItem.Status == true && orderItem.PaymentStatus == "Đã Thanh Toán")
                        {
                            <section class="section-content padding-y">
                                <div class="card mx-auto" style="width: 100%; height:100%">
                                    <article class="card-body">
                                        <div class="alert alert-success" style="font-size: 15px">
                                            <div class="row">
                                                <label style="color: red; margin-left: 30px">GIAO HÀNG THÀNH CÔNG</label>
                                                <label style="color:gray; margin-left: 700px">Ngày đặt hàng: <span>@orderItem.CreatedDate</span></label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-left: 30px">
                                            <div class="row">
                                                <label id="id" style="font-size: 15px">ID ĐƠN HÀNG # @id</label>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td style="font-weight: bold; color: #d30e15">CHI TIẾT ĐƠN HÀNG</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="font-weight: bold; color: #d30e15">ĐƠN GIÁ</td>
                                                        <td style="font-weight: bold; color: #d30e15">THÀNH TIỀN</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.Order.ID == orderItem.ID && item.Order.Status == true && item.Order.PaymentStatus == "Đã Thanh Toán")
                                                        {
                                                            <tr>
                                                                @*<td>@item.Product.ID</td>*@
                                                                <td>
                                                                    @item.Product.Name <br />
                                                                    @if (item.Product.CategoryID == 1)
                                                                    {
                                                                        <span style="font-size: 12px">Kích thước - @item.OrderDetail.Size</span> <br />
                                                                        <span style="font-size: 12px">Đế - @item.OrderDetail.Dough</span>

                                                                    }
                                                                </td>
                                                                <td><img src="@item.Product.Image" width="100" /></td>
                                                                <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="x @item.OrderDetail.Quantity" disabled /></td>
                                                                @*<td><input type="checkbox" checked/> Dày</td>*@
                                                                <td>@item.Product.Price.ToString("N0")</td>
                                                                <td>@((item.Product.Price * item.OrderDetail.Quantity).ToString("N0"))</td>
                                                            </tr>
                                                            total = (item.Product.Price * item.OrderDetail.Quantity) + total;
                                                            quantity = item.OrderDetail.Quantity + quantity;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div style="margin-left: 870px">
                                                <h2>Tổng số lượng: <span style="color:#d30e15">@quantity </span></h2>
                                                <h2>Tổng Tiền: <span style="color:#d30e15">@total.ToString("N0")đ </span></h2>
                                                <hr />
                                                <button type="submit" value="@orderItem.ID" name="id" style="height: 40px; width: 170px; font-size: 20px" class="btn btn-danger">Mua Lại</button>
                                            </div>

                                        </div>
                                    </article>
                                </div>
                            </section>
                            <hr />
                        }
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        <div style="margin-bottom: 225px">
            <span class="alert alert-danger" style="font-size: 20px">Bạn chưa mua đơn hàng nào</span>
        </div>
    }
}
