@model List<Model.EnityFramework.Product>
@{
    var category = (Model.EnityFramework.ProductCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <link href="~/content/client/productcard.css" rel="stylesheet" />
    <link href="~/content/client/modal.css" rel="stylesheet" />
    <script type="text/javascript">
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
}
<div class="pizza">
    <br />
    <p>@category.Name</p>
    @*@using (Html.BeginForm("Index", "Category", FormMethod.Get))
    {

        <select name="sort" id="sort">
            <option value="-1">Sắp xếp</option>
            <option value="1">Giá tăng dần</option>
            <option value="-1">Giá giảm dần</option>
        </select>
        <button type="submit"><i class="fas fa-search fa-2x"></i></button>

    }*@
    <hr>
    @foreach (var item in Model)
    {
        if (item.Status == true)
        {
            <div class="responsive">
                <div class="gallery">
                    <a href="/chi-tiet/@item.Alias-@item.ID">
                        <img src="@item.Image">
                    </a>
                    <div class="desc">@item.Name</div>
                    <div class="info">@item.Description</div>
                    <div class="gia">@item.Price.ToString("N0") đ</div>
                    <div class="add-actions">
                        <ul class="add-actions-link btn btn-primary" style="background-color: #0062cc">
                            <li class="add-cart active" style="margin-left: 10px"><a data-toggle="modal" data-target="#myModal-@item.ID" style="font-size: 15px; border-radius: 5px"><span class="glyphicon glyphicon-shopping-cart"></span> THÊM VÀO GIỎ HÀNG</a></li>
                        </ul>
                    </div>
                    @if (item.CategoryID == 1)
                    {
                        <!-- Modal -->
                        <div class="modal fade" id="myModal-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: red">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    @using (Html.BeginForm("Index", "Category", FormMethod.Post))
                                    {
                                        <div class="modal-body">
                                            <div class="product-img">
                                                <img src="@item.Image" />
                                                <div class="gia">@item.Price.ToString("N0") đ</div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-text">
                                                    <h1>@item.Name</h1>
                                                    <p>@item.Description</p>
                                                    <div class="form-group">
                                                        <p style="float: left; font-weight: bold">Chọn đế bánh</p> <br />
                                                        <div style="float: left">
                                                            <a style="color: #474747; float: left; margin-top: 5px">
                                                                <input type="radio" id="deday" name="de" value="day" />
                                                                Đế dày xốp
                                                            </a><br />
                                                            <a style="color: #474747; float: left; margin-top: 5px">
                                                                <input type="radio" id="demong" name="de" value="mong" checked />
                                                                Đế mỏng giòn
                                                            </a><br />
                                                            <a style="color: #474747; float: left; margin-top: 5px">
                                                                <input type="radio" id="devua" name="de" value="vua" />
                                                                Đế vừa
                                                            </a><br />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <p style="float: left; font-weight: bold">Chọn cỡ bánh</p> <br />
                                                        <div style="float: left">
                                                            <br />
                                                            <a style="color: #474747; float: left; margin-top: 5px">
                                                                <input type="radio" id="7inch" name="size" value="7" />
                                                                Cỡ 7 inch
                                                            </a><br />
                                                            <a style="color: #474747; float: left; margin-top: 5px">
                                                                <input type="radio" id="9inch" name="size" value="9" checked />
                                                                Cỡ 9 inch
                                                            </a><br />
                                                            <a style="color: #474747; float: left; margin-top: 5px">
                                                                <input type="radio" id="12inch" name="size" value="12" />
                                                                Cỡ 12 inch
                                                            </a><br />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <p style="float: left; font-weight: bold">Ghi chú</p> <br />
                                                        <textarea id="txtContent" class="form-group" placeholder="Nhập ghi chú của bạn tại đây" style="width: 350px; height: 70px; font-size: 15px; padding-left: 10px; padding-right: 10px; color: #474747"></textarea>
                                                    </div>
                                                    <ul class="add-to-cart">
                                                        <li class="add-cart active" style="background-color: #04354c"><a href="/Cart/AddItem?productId=@item.ID&quantity=1" style="background-color:#04354c "><span class="glyphicon glyphicon-shopping-cart"></span> THÊM VÀO GIỎ HÀNG</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <!-- Modal -->
                        <div class="modal fade" id="myModal-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: red">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="product-img">
                                            <img src="@item.Image" />
                                        </div>
                                        <div class="product-info">
                                            <div class="product-text">
                                                <h1>@item.Name</h1>
                                                <p>@item.Description</p>
                                                <div class="form-group">
                                                    <p style="float: left; font-weight: bold">Ghi chú</p> <br />
                                                    <textarea id="txtContent" class="form-group" placeholder="Nhập ghi chú của bạn tại đây" style="width: 350px; height: 70px; font-size: 15px; padding-left: 10px; padding-right: 10px; color: #474747"></textarea>
                                                </div>
                                                <ul class="add-to-cart">
                                                    <li class="add-cart active" style="background-color: #04354c"><a href="/Cart/AddItem?productId=@item.ID&quantity=1" style="background-color:#04354c "><span class="glyphicon glyphicon-shopping-cart"></span> THÊM VÀO GIỎ HÀNG</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }

    <div class="gototop">
        <button onclick="topFunction()" id="myBtn" title="Về đầu trang"> <i class="fas fa-arrow-up"></i></button>
    </div>
    <div class="clearfix"></div>
    <div style="padding:6px;"></div>
</div>

