@model List<Model.EnityFramework.Product>
@{
    var category = (Model.EnityFramework.ProductCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pizza">
    <br />
    <p>@category.Name</p>
    @using (Html.BeginForm("Index", "Category", FormMethod.Get))
    {

        <select name="sort" id="sort">
            <option value="-1">Sắp xếp</option>
            <option value="1">Giá tăng dần</option>
            <option value="-1">Giá giảm dần</option>
        </select>
        <button type="submit"><i class="fas fa-search fa-2x"></i></button>

    }
    <hr>
    @foreach (var item in Model)
    {
        if (item.Status == true)
        {
            <div class="responsive">
                <div class="gallery">
                    <a href="/chi-tiet/@item.Alias-@item.ID">
                        <img src="@item.Image">
                    </a>
                    <div class="desc">@item.Name</div>
                    <div class="info">@item.Description</div>
                    <div class="gia">@item.Price.ToString("N0")</div>
                    <div class="add-actions">
                        <ul class="add-actions-link btn btn-primary" style="background-color: #0062cc">
                            <li class="add-cart active" style="margin-left: 13px"><a href="/Cart/AddItem?productId=@item.ID&quantity=1" style="font-size: 15px"><span class="glyphicon glyphicon-shopping-cart"></span> THÊM VÀO GIỎ HÀNG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    }


    <div class="clearfix"></div>
    <div style="padding:6px;"></div>
</div>

