@model List<Model.ViewModel.OrderViewModel>
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
    var OrderInfo = (Model.EnityFramework.Order)ViewBag.OrderInfo;
}
@section header{
    Chi Tiết Đơn Hàng #@OrderInfo.ID
}
<div class="card shadow mb-4">
    <div class="card-body">
        @*<a class="btn btn-primary" href="/Admin/Bill/Index">Thông Tin Đơn hàng</a>*@
        <table class="table table-striped">
            <tr>
                <th>Mã đơn hàng</th>
                <td>@OrderInfo.ID</td>
            </tr>
            <tr>
                <th>Mã khách hàng</th>
                <td>@OrderInfo.CustomerID</td>
            </tr>
            <tr>
                <th>Tên khách hàng</th>
                <td>@OrderInfo.CustomerName</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@OrderInfo.CustomerEmail</td>
            </tr>
            <tr>
                <th>Địa chỉ giao hàng</th>
                <td>@OrderInfo.CustomerAddress</td>
            </tr>
            <tr>
                <th>Điện thoại</th>
                <td>@OrderInfo.CustomerMobile</td>
            </tr>
            <tr>
                <th>Ngày đặt hàng</th>
                <td>@OrderInfo.CreatedDate</td>
            </tr>
            <tr>
                <th>Phương thức thanh toán</th>
                <td>@OrderInfo.PaymentMethod</td>
            </tr>
            <tr>
                <th>Trạng thái đơn hàng</th>
                <td>
                    @if ((OrderInfo.Status == false && OrderInfo.PaymentStatus == "Chưa Thanh Toán"))
                    {
                        <label>Chờ xác nhận</label>
                    }
                    @if ((OrderInfo.Status == true && OrderInfo.PaymentStatus == "Chưa Thanh Toán"))
                    {
                        <label>Đang giao hàng</label>
                    }
                    @if (OrderInfo.Status == true && OrderInfo.PaymentStatus == "Đã Thanh Toán")
                    {
                        <label>Đã giao hàng</label>
                    }
                </td>
            </tr>
            <tr>
                <th>Trạng thái thanh toán</th>
                <td>@OrderInfo.PaymentStatus</td>
            </tr>
        </table>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>MaSP</th>
                        <th>TenSP</th>
                        <th>HinhAnh</th>
                        <th>Gia</th>
                        <th>SoLuong</th>
                        <th>Tong</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>MaSP</th>
                        <th>TenSP</th>
                        <th>HinhAnh</th>
                        <th>Gia</th>
                        <th>SoLuong</th>
                        <th>Tong</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OrderDetail.ProductID</td>
                            <td>
                                @item.Product.Name <br />
                                @if (item.Product.CategoryID == 1)
                                {
                                    <span style="font-size: 12px">Kích thước - @item.OrderDetail.Size</span> <br />
                                    <span style="font-size: 12px">Đế - @item.OrderDetail.Dough</span>

                                }
                            </td>
                            <td><img src="@item.Product.Image" style="width: 70px; height: 70px" /></td>
                            <td>@item.Product.Price</td>
                            <td>@item.OrderDetail.Quantity</td>
                            <td>@item.OrderDetail.Price</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>





