
@{
    ViewBag.Title = "MonAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RelateProducts = (List<Model.EnityFramework.Product>)ViewBag.RelateProducts;
}
<link rel="stylesheet" type="text/css" href="~/content/client/info.css" />
<link href="~/content/client/productcard.css" rel="stylesheet" />
<link href="~/content/client/modal.css" rel="stylesheet" />
<div class="pz1">


    <div class="container">
        <div class="picture">
            <div class="miycom"> <img src="@ViewBag.monan.Image"></div>
            <div class="gia">@ViewBag.monan.Price.ToString("N0") đ</div>
            <div class="add-actions">
                <button class="add-to-cart btn btn-primary">
                    <i class="add-cart active" style="text-align: center"><a href="/Cart/AddItem?productId=@ViewBag.monan.ID&quantity=1" style="margin-left: 30px"><span class="glyphicon glyphicon-shopping-cart"></span>Đặt Hàng Ngay</a></i>
                </button>
            </div>
        </div>
        <div class="detail">
            <div class="desc" style="font-size: 30px">@ViewBag.monan.Name</div>
            <div class="text">
                <p> Chi tiết sản phẩm:<br /></p>
                <div class="thanhphan">
                    &nbsp;&nbsp;* Trạng thái: @if (ViewBag.monan.Status)
                    {<p1 style="color:red">Còn hàng.</p1><br />}
                    else
                    { <p1 style="color:red">Hết hàng.</p1><br />}
                    &nbsp;&nbsp;* Trọng lượng: 500gr.<br />
                    &nbsp;&nbsp;* Thành phần chính: @ViewBag.monan.Description<br />
                    <div class="khuyenmai">
                        <p>Khuyến mãi:</p>
                        <div class="chitietkm">
                            <i class="fas fa-check-circle"></i> Giảm ngay 5.000đ khi đặt chung với 1 pizza bất kì.<br />
                            <i class="fas fa-check-circle"></i> Nhận hàng trong vòng 30p.<br />
                            <i class="fas fa-check-circle"></i> Giảm 40% khi thanh toán qua ZaloPay.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr />
    <h1>SẢN PHẨM LIÊN QUAN</h1>
    @foreach (var item in RelateProducts)
    {
        <div class="responsive">
            <div class="gallery">
                <a href="/chi-tiet/@item.Alias-@item.ID">
                    <img src="@item.Image">
                </a>
                <div class="desc">@item.Name</div>
                <div class="info">@item.Description</div>
                <div class="gia">@item.Price.ToString("N0") đ</div>
                <div class="add-actions">
                    <ul class="add-actions-link btn btn-primary" style="background-color: #0062cc">
                        @*<li class="add-cart active" style="margin-left: 13px"><a href="/Cart/AddItem?productId=@x.ID&quantity=1" style="font-size: 15px"><span class="glyphicon glyphicon-shopping-cart"></span> THÊM VÀO GIỎ HÀNG</a></li>*@
                        <li class="add-cart active" style="margin-left: 10px"><a data-toggle="modal" data-target="#myModal-@item.ID" style="font-size: 15px; border-radius: 5px"><span class="glyphicon glyphicon-shopping-cart"></span> THÊM VÀO GIỎ HÀNG</a></li>
                    </ul>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<h5 class="modal-title" id="exampleModalLabel" style="color: black">Modal title</h5>*@
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: red">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                            {
                                <div class="modal-body">
                                    <div class="product-img">
                                        <img src="@item.Image" />
                                        <div class="gia">@item.Price.ToString("N0") đ</div>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-text">
                                            <h1>@item.Name</h1>
                                            <p>@item.Description</p>
                                            <div class="form-group">
                                                <p style="float: left; font-weight: bold">Chọn đế bánh</p> <br />
                                                <div style="float: left">
                                                    <a style="color: #474747; float: left; margin-top: 5px">
                                                        <input type="radio" name="de" value="day" />
                                                        Đế dày xốp
                                                    </a><br />
                                                    <a style="color: #474747; float: left; margin-top: 5px">
                                                        <input type="radio" name="de" value="mong" checked />
                                                        Đế mỏng giòn
                                                    </a><br />
                                                    <a style="color: #474747; float: left; margin-top: 5px">
                                                        <input type="radio" name="de" value="vua" />
                                                        Đế vừa
                                                    </a><br />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <p style="float: left; font-weight: bold">Chọn cỡ bánh</p> <br />
                                                <div style="float: left">
                                                    <br />
                                                    <a style="color: #474747; float: left; margin-top: 5px">
                                                        <input type="radio" name="size" value="7" />
                                                        Cỡ 7 inch
                                                    </a><br />
                                                    <a style="color: #474747; float: left; margin-top: 5px">
                                                        <input type="radio" name="size" value="9" checked />
                                                        Cỡ 9 inch
                                                    </a><br />
                                                    <a style="color: #474747; float: left; margin-top: 5px">
                                                        <input type="radio" name="size" value="12" />
                                                        Cỡ 12 inch
                                                    </a><br />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <p style="float: left; font-weight: bold">Ghi chú</p> <br />
                                                <textarea id="txtContent" class="form-group" placeholder="Nhập ghi chú của bạn tại đây" style="width: 350px; height: 70px; font-size: 15px; padding-left: 10px; padding-right: 10px; color: #474747"></textarea>
                                            </div>
                                            <ul class="add-to-cart">
                                                <li class="add-cart active" style="background-color: #04354c"><a href="/Cart/AddItem?productId=@item.ID&quantity=1" style="background-color:#04354c "><span class="glyphicon glyphicon-shopping-cart"></span> THÊM VÀO GIỎ HÀNG</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="clearfix"></div>
    <div style="padding:6px;"></div>
</div>


