@model FoodShopOnline.Models.ConfirmKey

@{
    ViewBag.Title = "ConfirmKeyPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
@if (TempData["DangKyMess"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                @Html.Raw(TempData["DangKyMess"]);
            };
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <link rel="stylesheet" type="text/css" href="\content\client\dndkv2.css" />
    <div class="dkdnpage">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <p>Nhập mã xác thực</p>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "fas fa-key" })
                @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control", style = "height:50px; font-size: 20px" } })
                @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Xác Nhận" />
            </div>
        </div>
    </div>
}
