@model List<Model.EnityFramework.Slide>
@{
    ViewBag.Title = "Slide";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Quản lý Slide
}
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="content">
            @using (Html.BeginForm("CreateSlide", "System", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="btn btn-primary" href="/Admin/System/CreateSlide">Thêm mới</a>
                    </div>
                </div>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>HinhAnh</th>
                        <th>ThuTuHienThi</th>
                        <th>URL</th>
                        <th>NgayTao</th>
                        <th>NguoiTao</th>
                        <th>NgayChinhSua</th>
                        <th>NguoiChinhSua</th>
                        <th>TrangThai</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>HinhAnh</th>
                        <th>ThuTuHienThi</th>
                        <th>URL</th>
                        <th>NgayTao</th>
                        <th>NguoiTao</th>
                        <th>NgayChinhSua</th>
                        <th>NguoiChinhSua</th>
                        <th>TrangThai</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>

                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td><img src="@item.Image" style="width: 70px; height: 70px" /></td>
                                <td>@item.DisplayOrder</td>
                                <td>@item.Link</td>
                                <td>@item.CreatedDay</td>
                                <td>@item.CreatedBy</td>
                                <td>@item.ModifiedDay</td>
                                <td>@item.ModifiedBy</td>
                                <td>@item.Status</td>
                                <td>
                                    <a href="~/Admin/System/EditSlide/@item.ID">Sửa</a>
                                    |
                                    @Ajax.ActionLink("Xóa", "DeleteSilde", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa slide này không?",
                                   OnComplete = "$('#row_" + @item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





